@model IEnumerable<School.disciple>

@{
    ViewBag.Title = "Query6";
}

<h2>Результаты запроса</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ФИО")
        </th>
        <th>
            @Html.DisplayName("Класс")
        </th>
        <th>
            @Html.DisplayName("Год поступления")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fio)
            </td>
            <td>
                @Html.ActionLink(item?.id_class.ToString(), "index", "classrooms", new { id = item.classrooms.id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_year)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", new { id = item.id })</span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.id })</span>
                }
            </td>
        </tr>
    }
</table>

