@model IEnumerable<School.teacher>

@{
    ViewBag.Title = "Рапрос";
}

<h2>Результаты запроса</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ФИО")
        </th>
        <th>
            @Html.DisplayName("Специализация")
        </th>
        <th>
            @Html.DisplayName("Дата рождения")
        </th>
        <th>
            @Html.DisplayName("Дата выхода на работу")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialism)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.r_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.v_date)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", new { id = item.id })</span>
                    <span> @Html.ActionLink("Подробнее", "Details", new { id = item.id }) </span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.id })</span>
                }

                @using (Html.BeginForm("Search", "clients"))
                {
                    <input type="hidden" name="searchText" value="@Html.DisplayName(item.classrooms.)">
                    <input type="submit" value="Классы" class="btn-link" />
                }
            </td>
        </tr>
    }

</table>



