@model School.teacher

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Учителя</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ФИО")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fio)
        </dd>

        <dt>
            @Html.DisplayName("Специализация")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialism)
        </dd>

        <dt>
            @Html.DisplayName("Дата рождения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_date)
        </dd>

        <dt>
            @Html.DisplayName("Дата выхода на работу")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.v_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
