@model School.schedule

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <h4>Расписание</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Кабинет")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cabinet)
        </dd>

        <dt>
            @Html.DisplayName("Время")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayName("Предмет")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject.name)
        </dd>

        <dt>
            @Html.DisplayName("Учитель")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher.fio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
