@model IEnumerable<School.schedule>

@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поиска</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Предмет")
        </th>
        <th>
            @Html.DisplayName("Учитель")
        </th>
        <th>
            @Html.DisplayName("Время")
        </th>
        <th>
            @Html.DisplayName("Кабинет")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teacher.fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cabinet)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", new { id = item.id })</span>
                    <span> @Html.ActionLink("Подробнее", "Details", new { id = item.id }) </span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.id })</span>
                }

                @using (Html.BeginForm("Search", "classrooms"))
                {
                    <input type="hidden" name="searchText" value="@Html.DisplayName(item.teacher.fio)">
                    <input type="submit" value="Учителя" class="btn-link" />
                }

                @using (Html.BeginForm("Search", "subjects"))
                {
                    <input type="hidden" name="searchText" value="@Html.DisplayName(item.subject.name)">
                    <input type="submit" value="Предметы" class="btn-link" />
                }
            </td>
        </tr>
    }

</table>
