@model School.disciple

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Ученики</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ФИО")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fio)
        </dd>

        <dt>
            @Html.DisplayName("Год поступления")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_year)
        </dd>

        <dt>
            @Html.DisplayName("Класс")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classrooms.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
