@model IEnumerable<School.disciple>

@{
    ViewBag.Title = "Ученики";
}

<h2>Ученики</h2>

@using (Html.BeginForm("Search", "disciples"))
{
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="text" name="searchText" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ФИО")
        </th>
        <th>
            @Html.DisplayName("Класс")
        </th>
        <th>
            @Html.DisplayName("Год поступления")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_year)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", new { id = item.id })</span>
                    <span> @Html.ActionLink("Подробнее", "Details", new { id = item.id }) </span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.id })</span>
                }
            </td>
        </tr>
    }

</table>
