@model IEnumerable<School.disciple>

@{
    ViewBag.Title = "Ученики";
}

<h2>Ученики</h2>

<p>
    @Html.ActionLink("Добавить ученика", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ФИО")
        </th>
        <th>
            @Html.DisplayName("Класс")
        </th>
        <th>
            @Html.DisplayName("Год поступления")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classrooms.name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.id }) |
            @Html.ActionLink("Подробнее", "Details", new { id = item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
