@model IEnumerable<School.classrooms>

@{
    ViewBag.Title = "Классы";
}

<h2>Классы</h2>

@using (Html.BeginForm("Search", "classrooms"))
{
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="text" name="searchText" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Учебный год")
        </th>
        <th>
            @Html.DisplayName("Классный руководитель")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.y_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teacher.fio)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", new { id = item.id })</span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.id })</span>
                }
            </td>
        </tr>
    }

</table>
