@model IEnumerable<School.schedule>

@{
    ViewBag.Title = "Запрос";
}

<h2>Результаты поиска</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Предмет")
        </th>
        <th>
            @Html.DisplayName("Учитель")
        </th>
        <th>
            @Html.DisplayName("Время")
        </th>
        <th>
            @Html.DisplayName("Кабинет")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item?.subject.name.ToString(), "index", "subjects", new { id = item.subject.name }, null)
            </td>
            <td>
                @Html.ActionLink(item?.teacher.fio.ToString(), "index", "teachers", new { id = item.teacher.id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cabinet)
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <span> @Html.ActionLink("Изменить", "Edit", "schedules", new { id = item.id }, null)</span>
                    <span> @Html.ActionLink("Удалить", "Delete", "schedules", new { id = item.id }, null)</span>
                }
            </td>
        </tr>
    }
</table>